body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  h1 span {
    color: #ff6f61; /* Adjust to match the gradient effect */
  }
  
  .content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px; /* Add padding between the columns */
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .left-column, .right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .kabbas {
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #090B16;
    border-radius: 20px; /* Dark background for inactive tabs */
  }
  
  .kabbas.open {
    background-color: #1a1a1a; /* Darker background for active tab */
    position: relative;
    border-radius: 20px;
  }
  
  
  .kabbas-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    background: transparent !important;
    border: none !important; /* White text color for headers */
  }
  
  .kabbas.open .kabbas-header {
    background-color: #333;
    background: linear-gradient(180deg, rgba(7, 7, 9, 0.60) 10.42%, rgba(7, 7, 9, 0.60) 100%), radial-gradient(100% 140% at 50% 0%, rgba(7, 7, 9, 0.70) 0%, rgba(7, 7, 9, 0.70) 39%, rgba(75, 75, 75, 0.70) 100%), linear-gradient(180deg, rgba(5, 5, 5, 0.00) 0%, #0A0A0A 100%);
    border: none; /* Darker background for active header */
  }
  
  .kabbas-header h2 {
    margin: 0;
    font-weight: bold;
    color: white; /* Ensure text color is white for readability */
  }
  
  .kabbas-content {
    padding: 20px;
    background-color: #2a2a2a;
    background: transparent;
    border-radius: 20px;
  }
  
  .right-column img {
    max-width: 800px;
    border-radius: 25px;
    width: 100%;
  }
  